{% load static %}
<footer class="rodape-padrao">
    <div class="rodape-esquerda">
        <span>Feito com Django</span>
    </div>

    <div class="rodape-direita">
        <span>&copy; Meu E-commerce - Todos os direitos reservados</span>
    </div>
</footer>

    <!--<script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script defer src="{% static 'assets/font-awesome/js/all.js' %}"></script>-->
    <script src="{% static 'assets/custom/js/scripts.js' %}"></script>